/* DogProfile.css */

:root {
  --FONT_H1: 'Source Serif Pro', serif; 
  --TITLE_FONT: 'Source Serif Pro', serif;
  --TITLE_COLOR_H1: #4C7572;
  --BACKGROUND_COLOR: #F0EDEB;
  --TEXT_COLOR_H1: #46454A;
  --BUTTON_COLOR_H1: #628991;
}

body {
  font-family: var(--FONT_H1);
  direction: ltr;
  margin: 0;
  padding: 0;
  background-color: var(--BACKGROUND_COLOR);
  color: var(--TEXT_COLOR_H1);
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: left;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background: none;
  box-shadow: none;
}

.profile-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 20px;
}

.basic-info {
  text-align: left;
  flex-grow: 1;
}

.basic-info h1 {
  font-family: var(--TITLE_FONT);
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.basic-info h2 {
  font-size: 1.5rem;
  margin: 5px 0;
  color: #555;
}

.basic-info p {
  font-size: 1rem;
  margin: 5px 0;
  color: #666;
}

.card {
  background-color: transparent;
  border-radius: 0;
  padding: 15px;
  margin: 10px 0;
  box-shadow: none;
  text-align: justify;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.detail-label {
  font-weight: bold;
  color: #333;
}

.detail-value {
  color: #666;
}

.edit-profile-button {
  background-color: #628991;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: box-shadow 0.3s ease-in-out;
  display: inline-block;
  width: auto;
}

.edit-profile-button:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  background-color: #628991;
}

.Collapsible {
  margin: 10px 0;
  margin-bottom: 30px;
}

.Collapsible__trigger {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Collapsible__trigger::after {
  content: '▼';
  font-size: 1rem;
  margin-left: 10px;
}

.Collapsible__trigger:hover {
  background-color: #d5d5d5;
}

.Collapsible__contentInner {
  padding: 10px;
}

.text-section {
  width: 48%;
  text-align: center;
  padding: 50px;
}

.text-section p {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
}
