:root {
  --FONT_MAIN: 'Quicksand', sans-serif; 
  --TITLE_COLOR_H1: #4C7572;
  --BACKGROUND_COLOR: #F0EDEB;
  --TEXT_COLOR_H1: #46454A;
  --BUTTON_COLOR_H1: #628991;
  --APPLY_BUTTON_COLOR: #8BBBAA;
}

body {
  font-family: var(--FONT_MAIN);
  direction: ltr;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--BACKGROUND_COLOR);
  color: var(--TEXT_COLOR_H1);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin:0 auto;
  background-color: var(--BACKGROUND_COLOR);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.header {
  padding: 20px 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.header h1 {
  font-family: var(--FONT_MAIN);
  font-size: 24px;
  color: var(--TITLE_COLOR_H1);
  margin: 0;
}

.header-buttons {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  padding: 20px;
  gap: 10px;
  background-color: var(--BACKGROUND_COLOR);
  border-radius: 8px;
}

.header-buttons button {
  font-family: var(--FONT_MAIN);
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap; /* Prevent text from wrapping */
  width: auto; /* Ensure buttons are not stretched */
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* רווח בין הפוסטים */
  width: 100%;
  max-width: 1400px;
  justify-items: center;
  padding: 20px;
  margin: 0 auto; /* מבטיח שהגריד יהיה ממורכז */
  box-sizing: border-box;
}

/* כל פוסט ברשת */
.post {
  font-family: var(--FONT_MAIN);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* מרכז את התוכן בתוך הפוסט */
  text-align: center; /* מרכז טקסטים בתוך הפוסט */
  padding: 20px; /* ריווח פנימי בתוך כל פוסט */
  border: 1px solid #ddd; /* גבול מסביב לכל פוסט */
  height: 400px;
  width: 100%; /* אפשר לפוסט להשתמש בכל הרוחב המוקצה */
  max-width: 350px; /* רוחב מקסימלי לפוסט */
  border-radius: 8px;
}

.post img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover; /* שמירה על פרופורציות התמונה */
}

.post h2 {
  font-weight: bold;
  font-family: var(--FONT_MAIN);
  font-size: 20px;
  margin: 10px 0;
}

.post p {
  font-family: var(--FONT_MAIN);
  margin: 5px 0;
  font-size: 18px;
}

button,
.exit-filters,
.new-post-form .post-button,
.new-post-form .close-button,
.more-info {
  font-family: var(--FONT_MAIN);
  display: block;
  padding: 10px 20px;
  background-color: var(--BUTTON_COLOR_H1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: box-shadow 0.3s ease-in-out;
}

button:hover,
.new-post-form .post-button:hover,
.more-info:hover {
  font-weight: bold;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); /* אפקט הצללה חזק יותר */
}

.exit-filters:hover,
.new-post-form .close-button:hover {
  background: none; /* הסרת רקע בריחוף */
  box-shadow: none; /* הסרת הצללה בריחוף */
}

.filter-overlay,
.add-post-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container,
.add-post-form {
  font-family: var(--FONT_MAIN);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 250px; /* Increase max-width */
  width: 80%; /* Increase width */
  position: relative;
  font-size: 10px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align all children */
  gap: 1px;
  margin-bottom: 20px;
}

.filter-options label {
  font-family: var(--FONT_MAIN);
  width: 100%; /* Full width for labels */
  text-align: center; /* Center align text */
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
}

.filter-options input,
.filter-options select {
  font-family: var(--FONT_MAIN);
  width: 100%; /* Full width for inputs and selects */
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 11px;
}

.apply-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.apply-button,
.clear-button {
  font-family: var(--FONT_MAIN);
  flex: 1;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
}

.apply-button {
  background-color: #91cab6;
  color: white;
  margin-right: 10px;
}

.apply-button:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.clear-button {
  background-color: #577a6d;
  color: white;
}

.clear-button:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}
.exit-filters {
  font-family: var(--FONT_MAIN);
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px; /* Make the button smaller */
  color: black; /* Change color to black */
  border: none;
  background: none; /* Remove background */
  cursor: pointer;
  font-size: 20px; /* Increase font size */
  width: auto; /* Ensure button is not stretched */
}

.new-post-form {
  font-family: var(--FONT_MAIN);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%; /* Increase width */
  max-width: 600px; /* Increase max-width */
  margin: 20px auto;
  position: relative;
}

.new-post-form label {
  font-family: var(--FONT_MAIN);
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.new-post-form input {
  font-family: var(--FONT_MAIN);
  width: calc(100% - 16px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-post-form .post-button {
  font-family: var(--FONT_MAIN);
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: var(--APPLY_BUTTON_COLOR);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.new-post-form .post-button:hover {
  background-color: #91cab6; /* גוון מעט כהה יותר לצבע הכפתור בעת ריחוף */
}

.new-post-form .close-button {
  font-family: var(--FONT_MAIN);
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px; /* הקטן את הכפתור */
  color: black; /* שנה את הצבע לשחור */
  border: none;
  background: none; /* הסר את הרקע */
  cursor: pointer;
  font-size: 20px; /* הגדל את גודל הפונט */
  width: auto; /* ודא שהכפתור אינו נמתח */
}

.more-info {
  font-family: var(--FONT_MAIN);
  margin-top: auto;
  padding: 7px 15px;
  background-color: var(--BUTTON_COLOR_H1);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.more-info:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); /* אפקט הצללה חזק יותר */
}

.delete-post {
  font-family: var(--FONT_MAIN);
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: #a85757;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  z-index: 1;
  transition: box-shadow 0.3s ease-in-out;
}

.delete-post:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.add-post-container {
  font-family: var(--FONT_MAIN);
  max-width: 300px;
  padding: 10px;
}

.add-post-container label {
  font-family: var(--FONT_MAIN);
  font-weight: bold;
}

.add-post-container input[type="date"] {
  font-family: var(--FONT_MAIN);
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}